@font-face {
  font-family: "IRANYekanMobile";
  src: url("./assets/fonts/IRANYekanMobileExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "IRANYekanMobile";
  src: url("./assets/fonts/IRANYekanMobileRegular.woff2") format("woff2");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full overflow-hidden bg-surface-100 text-surface-900;
  font-family: "IRANYekanMobile", theme("fontFamily.sans");
}

#root {
  @apply h-full;
}
